.secaoUm{
    display: flex;
    margin: 0px;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    background-color: maroon;
    color: white;
}

.secaoUm > div{
    display: flex;
    padding: 30px;
    align-items: center;
}

.texto{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button{
    margin: 30px 0px;
    background-color: white;
    color: maroon;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;

}


